ion-card{
    
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(187, 218, 245);
    border-color: rgb(117, 19, 244);
   
    
}

img{
    padding:25px;
    size: 80%
}